@import "../../components";

.search-input {
  font-family: $main-font;
  font-size: 20px;
  text-align: end;
  background-color: white;
  margin: 0 30vw;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 20px;
  .search-input-select {
    padding: 0 20px;
  }
  .search-input-width {
    width: 25vw;
  }
}
