@charset "utf-8";
@import "../../components";

.heritage-search-bar {
  background-image: url("https://user-images.githubusercontent.com/60081201/95034368-894d4580-06fc-11eb-84e3-5befd062526b.png");
  background-attachment: fixed;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  border: 0;
  padding: $components-margin;
  .v-input {
    font-size: 1.6rem;
    margin: 5vh auto 3vh;
    width: 80vw;
  }
  .search-input {
    background: white;
    padding: 10px 40px;
    margin-top: 150px;
  }
}
