@import "../components";

.maps-info-kakao {
  margin: 0;
  padding: 0;
  height: 90vh;

  .maps-search {

    input[type="text"] {
      border: 0;
      background: white;
      display: block;
      border: 3px solid #9d201d;
      width: 40vw;
      outline: none;
      color: black;
      border-radius: 10vw;
      transition: 0.3s;
    }

    input[type="submit"] {
      border: 0;
      background: none;
      display: block;
      margin: 5vh auto;
      text-align: center;
      border: 3px solid #9d201d;
      padding: 2vh 3vw;
      width: 30vw;
      color: white;
      border-radius: 10vw;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .maps-info-list {
    height: 80vh;
  }

  .maps-kakao {
    margin: 0;
    padding: 0;
  }


}