@import "../components";
.maps {
  margin: 0;
  padding: 0;
}
.maps-info-kakao {
  margin: 0;
  padding: 0;
  height: 90vh;

  

  .maps-info-list {
    height: 80vh;
    border: 2px solid chocolate;
    border-radius: 3vw;
  }

  .maps-kakao {
    margin: 0;
    padding: 0;
  }


}